<div class="container border-top ">
  <div class="row align-items-center">
    <h1 class=" text-center text-decoration-underline">Quienes Somos</h1>
    <div class="col-md-6 col-12 text-center text-md-start mt-2">
      <img
        src="assets/quienes-somos.png"
        alt=""
        class="rounded-circle img-fluid mb-3 mb-md-0"
      />
    </div>
    <div class="col-md-6 col-12 ">
      <p class="justify-text">
        Lider Trofeos y Regalos S.A.S ofrece a sus clientes una amplia gama de
        productos distinguidos. Contamos con todo lo necesario a la hora de
        homenajear, premiar, celebrar, recordar y embellecer cada logro, ya sea
        personal o grupal, ya sea deportivo o académico. Nuestros productos
        sirven también como distinguidos regalos empresariales, a personas
        destacadas o como simple recordatorio de amistad y presencia. Conocemos
        el valor emocional que lleva un regalo y su efecto de reciprocidad.
        Sabemos que llegar a sus clientes o empleados a través de un regalo es
        llegar más afectivamente. Trabajamos con productos de primera calidad.
        Nuestro servicio es personalizado, brindando asesoramiento en cuanto a
        cuál es el producto más adecuado para su campaña de comunicación.
      </p>
    </div>
  </div>
</div>
