<div>
  <h1 class="text-center mb-4">Ubicación</h1>
  <div
    class="embed-responsive"
    style="position: relative; padding-top: 56.25%; height: 0"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6810.226551715793!2d-64.18938!3d-31.411005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987f2144e941%3A0xd0a051ea34762265!2sAv.%20Col%C3%B3n%20544%2C%20X5000%20EPS%2C%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1727395940565!5m2!1ses-419!2sar"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
