<div class="container border-top  text-center">
  <h1>Nuestros Productos</h1>
  <div class="row align-items-center">
    <div class="col-md-6 col-12 ">
      <h2 class="text-center my-3">Linea Mate</h2>
      <a
        href="https://pedix.app/lider-trofeos/categoria/ilMBz9RReLPEYaiOdLoa"
        target="_blank"
        ><img src="assets/productos/mate.png" alt="Mate" class="rounded"
      /></a>
    </div>
    <div class="col-md-6 col-12 ">
      <h2 class="text-center my-3">Linea Bebida</h2>
      <a
        href="https://pedix.app/lider-trofeos/categoria/lSJ8JJ2QFg9O8Hx36Iqb"
        target="_blank"
        ><img
          src="assets/productos/copa-de-vino.png"
          alt="Bebida"
          class="rounded"
      /></a>
    </div>
    <div class="col-md-6 col-12 ">
      <h2 class="text-center my-3">Linea Asado</h2>
      <a
        href="https://pedix.app/lider-trofeos/categoria/QAcndBpE3Eb8ETEgDLJS"
        target="_blank"
        ><img src="assets/productos/cuchillos.png" alt="Asado" class="rounded"
      /></a>
    </div>
    <div class="col-md-6 col-12 ">
      <h2 class="text-center my-3">Linea Oficina</h2>
      <a
        href="https://pedix.app/lider-trofeos/categoria/0MoExAwbT3WJBUHXzB59"
        target="_blank"
        ><img src="assets/productos/cuaderno.png" alt="Oficina" class="rounded"
      /></a>
    </div>
    <div class="col-md-6 col-12 ">
      <h2 class="text-center my-3">Linea Trofeos</h2>
      <a
        href="https://pedix.app/lider-trofeos/categoria/nBmkqrwCaS4P8u5M5x1L"
        target="_blank"
        ><img src="assets/productos/trofeos.png" alt="Trofeos" class="rounded"
      /></a>
    </div>
  </div>
</div>
